@import '../setup/vars';

.app-footer {
  background-color: $gray-800;
  color: $white;
  padding: 1rem calc(1rem + $layoutPadding);
  text-align: center;
  box-shadow: $shadow-md;
  border-top: 1px solid $gray-900;
}
