@import '../setup/vars';

.app-footer {
  background-color: $white-off;
  color: $black-dark;
  padding: 1rem calc(1rem + $layoutPadding);
  text-align: center;
  box-shadow: $shadow-sm;
  border-top: 1px solid $border-color;
}
