@import '../setup/vars';

.main-layout {
  display: grid;
  grid-template-columns: $layoutPadding 1fr $layoutPadding;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background: $white-off;

  > *.full {
    grid-column: 1 / -1;
  }

  > *:not(.full) {
    grid-column: 2;
  }
}

.container {
  max-width: 800px;
  padding: 1rem;
  margin: auto;
  background: $white;
  border-radius: $border-radius;
  box-shadow: $shadow-sm;
  border: 1px solid $border-color;
}
